.dropdown label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.dropdown select{
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box
}

.mobile-dropdown{
    font-size: 18px !important;
    margin: 15px 0; 
}

.mobile-dropdown label{
    font-size: 20px;
}

.mobile-dropdown select{ 
    font-size: 18px !important;
}